:root {
    --primary-color: #58595B;
    --light-primary: #707172;
    --dark-primary: #414141;
    --secondary: #B8A580;
    --light-seconday: #E4CD9F;
    --dark-secondary: #947e52;
}

body {
    margin: 0;
    font-family: "Lexend", sans-serif;
    overflow-x: hidden;
    max-width: 100%;
    max-height: 100%;
}

.main-nav {
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#nav-logo {
    max-width: auto;
    max-height: 50px;
    margin-left: 15px;
}

.main-nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
    padding: 0px;
    margin: 0; 
    align-items: center; 
}

.nav-links {
    position: relative;
    display: inline-block;
    margin-right: 15px;
}

.nav-links li a {
    text-decoration: none;
    color: var(--primary-color);
    justify-content: center;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.5s ease;
    
}

.nav-links li a:hover {
    color: var(--dark-primary);
    border-bottom: 5px solid var(--secondary);
}

label {
    display: none;
}

.search-bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#search-text {
    border-style: none;
    border-bottom: 1px solid var(--primary-color);
    text-align: end;
}

#search-text:focus {
    outline: none;
    border-bottom: 1px solid var(--primary-color);
}

#submit-search {
    border-style: none;
    background-color: unset;
}

.fa-magnifying-glass {
    color: var(--light-primary);
}

.mobile-menu {
    display: none;
}

.hero-header {
    position: relative;
    margin-bottom: 80px;
}

.carousel-inner, .carousel-item {
    position: relative;
    height: 500px;
    width: 100%;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.img-cropped-bottom img {
    left: 0;
    bottom: 0;
}

.carousel-indicators {
    position: absolute;
    right: -80%;
}

.text-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .8) 100%)
}

.header-main-text {
    position: absolute;
    top: 0;
    left: 80px;
    padding-top: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header-sub-text {
    font-family: 'Inter', sans-serif;
    position: absolute;
    bottom: 0;
    left: 80px;
    padding-bottom: 15px;
    color: #FFFFFF;
    width: 500px;
}

.cta-button {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    text-decoration: none;
    padding: 10px;
    border-style: none;
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    margin: auto;
    z-index: 1;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    transition: all 0.5s ease;
}

.cta-button:hover {
    background-color: #E4CD9F;
    text-decoration: none;
    color: #FFFFFF;
}

.collections {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.collection-container {
    position: relative;
    transition: transform 0.5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.collection-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
}

.collection-container img {
    width:850px;
    height: 125px;
    object-fit: cover;
}

.collection-container:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.collection-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-transform: uppercase;
    z-index: 2;
    text-align: center;
}

.about {
    margin: auto;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, var(--secondary) 100%);
    color: #FFFFFF;
    padding-top: 30px;
    padding-left: 80px;
    padding-bottom: 30px;
}

.story-content {
    margin-top: 30px;
    width: 50%;
}

.story-content p {
    font-family: 'Inter', sans-serif;
}

.more-link {
    margin-top: 30px;
}

.story-content a {
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    padding: 15px;
    margin-top: 30px;
    transition: all 0.5s ease;
}

.story-content a:hover {
    text-decoration: none;
    color: var(--dark-secondary);
    border: 3px solid var(--dark-secondary);
}

.story-img {
    transform: rotate(-35deg) translate(200px, 150px) scale(1.15);
}

footer {
    height: auto;
    width: 100%;
    margin-top: 100px;
    background-color: var(--primary-color);
    color: #FFFFFF;
}

footer img {
    height: 100px;
    display: block;
    margin: auto;
    transform: translateY(30px);
}

.footer-decoration-container {
    display: flex;
    flex-direction: row;
}

.divider {
    height: 2px;
    background-color: #FFFFFF;
    width: 35%;
    transform: translateY(80px);
}

.footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    gap: 30px;
}

.footer-list-items,
.location-items {
    list-style: none;
}

.footer-list-items li a {
    color: #FFFFFF;
}

.location-info {
    margin-right: 30px;
}

.location-items li {
    margin-bottom: 15px;
}

.location-items i {
    padding-right: 15px;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    justify-content: flex-end;
}

.social-links li a {
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {

    main {
        overflow-x: hidden;
    }

    .main-nav ul.nav-links {
        display: none;
    }

    .search-bar {
        position: absolute;
        left: 80%;
    }

    #search-text {
        display: none;
    }

    #submit-search {
        border-style: none;
        background-color: unset;
        
    }

    .mobile-menu {
        display: inline-block;
        margin-right: 15px;
    }

    .carousel-indicators {
        max-width: 100%;
        display: none;
    }

    .header-main-text {
        left: 10%;
    }

    .header-sub-text {
        width: 250px;
        left: 10%;
    }

    .collection-container img {
        width: 300px;
        height: 125px;
    }

    .about {
        width: 80%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, var(--secondary) 100%);
        flex-direction: column;
        padding-left: 10%;
    }

    .story-content {
        margin-top: 30px;
        width: 80%;
    }

    .story-img {
        transform: rotate(-35deg) translate(-5%, -10%) scale(0.8);
    }

    footer {
        overflow-x: auto;
        height: auto;
    }

    .footer-main {
        transform: translateY(50px);
        flex-direction: column;
    }

    .footer-links {
        flex-direction: column;
        margin-left: 15px;
        gap: 20px;
    }

    .location-info {
        margin-right: 15px;
        transform: translateY(10%);
    }

    .location-items {
        overflow: wrap;
        padding-right: 15px;
    }

    .social-container {
        transform: translateY(250%);
    }
}

@media screen and (min-width: 769px) and (max-width: 1600px) {
    .main-nav ul {
        gap: 30px;
    }

    .about {
        width: 80%;
    }

    .story-img {
        transform: rotate(-35deg) translate(8%, 15%) scale(1.1);
    }
}

